var port = 8085;
var baseUrl = "{{API_BASE_URL}}:" + port;
if(!/\/$/.test(baseUrl)) //add ending '/' if not exists
    baseUrl += '/';

module.exports = {
    connString: "/var/run/postgresql maildb",
    port: port,
    baseUrl: baseUrl
};