--DELETE FROM records;
--TRUNCATE TABLE domains RESTART IDENTITY CASCADE;

INSERT INTO domains(name,type) VALUES('{{DOMAIN}}', 'NATIVE');
INSERT INTO records(domain_id,name,type,content,ttl,auth) VALUES(1,'{{DOMAIN}}','SOA','ns1.{{DOMAIN}}',300,'t');
INSERT INTO records(domain_id,name,type,content,ttl,auth) VALUES(1,'{{DOMAIN}}','NS','ns1.{{DOMAIN}}',300,'t');
INSERT INTO records(domain_id,name,type,content,ttl,auth) VALUES(1,'{{DOMAIN}}','A','{{EXTERNAL_IP}}',300,'t');
INSERT INTO records(domain_id,name,type,content,ttl,auth) VALUES(1,'ns1.{{DOMAIN}}','A','{{EXTERNAL_IP}}',300,'t');
INSERT INTO records(domain_id,name,type,content,ttl,auth) VALUES(1,'smtp.{{DOMAIN}}','A','{{EXTERNAL_IP}}',300,'t');