INSERT INTO records(domain_id,name,type,content,ttl,prio,auth) VALUES(1,'{{MAIL_DOMAIN}}','MX','smtp.{{DOMAIN}}',300,10,'t');
INSERT INTO records(domain_id,name,type,content,ttl,auth) VALUES(1,'{{MAIL_DOMAIN}}','CERT','{{CERT.stdout}}',300,'t');

